div
  label(for="title") Title:
  input(type="text",id="title", name="title" , value=book.title)
div
  label(for="author") Author:
  input(type="text", id="author",name="author", value=book.author)
div
  label(for="genre") genre:
  input(type="text",id="genre", name="genre" ,value=book.genre)
div
  label(for="year") year:
  input(type="text", id="year", name="year",value=book.year)
input(type="submit")